<!DOCTYPE html>
<html>

<head>
  

  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>

  <div id="news_table">
     
      <p>Hello World </p>

    
     <p> <% for (var i in results) {%></p>
        <b>
          <p></p>
          headline
        </b> : <%= results[i].headline %> - 
        <p></p>
        <b>
          summary
        </b> :<%= results[i].summary %> - 
        <p></p>
        <b>
          link
        </b> :<%= results[i].link %>
        <p></p>
        <b>id </b>
   </b> :<%= results[i]._id %><br><br>
   <form action='/api/comment/<%= results[i]._id %>' method=POST>
    <input type="text" name="comment" id="save"><button>sumbit</button></input>
  </form>
  <b>comments:</b>
   <% for (var i in results)  {%>
      <%= results[i].comments%><br>
      <% }%>
      <% }%>
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="/js/news_select.js"></script>
  <script type="text/javascript">
  



  </script>

</body>

</html>